.landing {
  height: calc(100vh - 10rem);
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray-100;
  
  h1 {
    color: $gray-800;
    font-weight: 300;
    line-height: 1.25;
  }
  
  @media (min-width: 1400px) {
    height: calc(60vh - 10rem);
    background: blue;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 4.5rem;
  display: block;
  
  p {
    color: $gray-600;
  }
  
  &:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5rem;
    height: 2px;
    width: 5rem;
    background: $gray-200;
  }
}
