nav.app-nav {
  // position: fixed;
  // top: 0;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4.5rem;
  width: 100%;
  border-bottom: $border;
  background: #fff;
  font-family: $font;
  text-align: center;
  
  .logo h2 {
    font-family: 'Bitter';
    color: $gray-800;
    position: relative;
    // left: -30px;
    
    &:hover {
      color: $primary;
    }
  }
}

/* Burger Button */

.burger-box {
  height: 60px;
  width: 60px;
  z-index: 9999;
  position: relative;
  
  &:hover, &:focus {
    .anim-burger:after {
      width: 100%;
    }
  }
}

.burger-box .anim-burger,
.burger-box .anim-burger:before,
.burger-box .anim-burger:after {
  position: absolute;
  top: 28px;
  left: 18px;
  width: 20px;
  height: 2px;
  background: #444;
  transition: background 0.15s, transform 0.15s, top 0.15s;
}

.burger-box .anim-burger:before {
  top: -6px;
  left: 0;
  content: "";
}

.burger-box .anim-burger:after {
  top: 6px;
  left: 0;
  content: "";
  width: .75rem;
  transition: 300ms ease;
}

.burger-box.open .anim-burger {
  background: transparent;
}

.burger-box.open .anim-burger:before {
  top: 0;
  background: #fff;
  transform: rotate3d(0, 0, 1, 45deg);
}

.burger-box.open .anim-burger:after {
  top: 0;
  background: #fff;
  transform: rotate3d(0, 0, 1, -45deg);
}

.burger-box.side.open .anim-burger:before,
.burger-box.side.open .anim-burger:after { background: #444; }
