.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

button {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: -9999999999px; left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.9);
  z-index: 100;
  opacity: 0;
  transition: opacity 300ms ease;
  padding: 6rem 2rem;
  
  &.show {
    top: 0;
    opacity: 1;
  }
}

@for $i from 1 through 8 {
  .fw-#{$i}00 {
    font-weight: $i * 100;
  }
}
